networks:
  backend:
    driver: bridge

volumes:
  pgdata:
  prometheus_data:
  grafana_data:

services:
  rabbitmq:
    image: rabbitmq:4-management
    restart: unless-stopped
    ports:
      - "15672:15672"
    env_file: .env
    networks: [backend]
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  grafana:
    image: grafana/grafana:latest
    env_file: .env
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: ${GF_SECURITY_ADMIN_USER:-admin}
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD:-admin}
    volumes:
      - ./grafana.ini:/etc/grafana/grafana.ini:ro
      - grafana_data:/var/lib/grafana
    networks: [backend]
    depends_on:
      prometheus:

  prometheus:
    image: prom/prometheus:latest
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    networks: [backend]

  db:
    image: postgres:latest
    env_file: .env
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks: [backend]
    ports:
      - "5432:5432"

  web:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file: .env
    restart: unless-stopped
    command: >
      sh -c "
        python manage.py migrate &&
        gunicorn server_config.wsgi:application --bind 0.0.0.0:8000
      "
    networks: [backend]
    ports:
      - "8000:8000"
    depends_on:
      db:
      rabbitmq:

  celery:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file: .env
    restart: unless-stopped
    command: celery -A server_config worker --loglevel=info
    environment:
      DATABASE_URL: postgresql://myuser:mypassword@db:5432/mydb
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672/
    networks: [backend]
    depends_on: [web, rabbitmq]

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    networks: [backend]

  nginx:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    networks: [backend]
    depends_on:
      frontend:
      web:
